*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.background{
    margin-left: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container{
    width: 100%;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.first-container{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #E0E4E5;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 0px 5px 0;
}

.groupName-container{
    margin: 0 auto;
    margin-left: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 400px;
    height: 60px;
    border: 1px solid #264A82;
    border-radius: 10px;
    background-color: #E9EEF0;
}

.groupName-container input{
    border-radius: 10px;
    padding: 0 10px;
    height: 56px;
    width: 396px;
    border: 0;
    font-size: 24px;
    text-align: center;
    color: #264A82;
}

.groupName-container input:focus{
    outline: 0;
    border: 0;
}


.create-group{
    margin-left: auto;
    margin-right: 50px;
}

.create-group button{
    box-shadow: 2px 2px 5px 0px;
    border: 0;
    width: 200px;
    height: 50px;
    border-radius: 7px;
    padding: 5px 10px;
    font-weight: 600;
    background-color: #12346F;
    color: #E9EEF0;
}

.create-group button:focus{
    outline: 0;
    border: 0;
}

.create-group button:hover{
    background-color: #1d6af0;
}

.second-container{
    height: 80vh;
    width: 100%;
    width: 80vw;
    margin-top: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #E0E4E5;
    box-shadow: 0px 0px 7px 0px;
    border-radius: 40px;
}

.search-members-container{
    height: 550px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.search-members{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 60px;
}

.search-members input{
    border-radius: 10px;
    padding: 20px;
    height: 60px;
    width: 480px;
    border: 1px solid #264A82;
    color: #264A82;
}

.search-members input:focus{
    outline: 0;
    border: 0;
}

.show-users{
    margin-top: 20px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.user{
    padding: 20px;
    height: 70px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #12346F;
    border-radius: 10px;
    margin-bottom: 10px;
}

.profilePic{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.user h2{
    font-size: 20px;
    margin-top: 7px;
    font-weight: 400;
    align-self: center;
    text-align: center;
    color: white;
}

.selectBtn{
    padding: 5px;
    box-shadow: inset 0px 1px 5px;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.selectBtn img{
    width: 25px;
    height: 20px;
}

.selectBtn:focus{
    outline: none;
    border: none;
}

.members-container{
    height: 550px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C1C8CB;
    box-shadow: inset 1px 1px 5px;
    border-radius: 30px;
}

.memberTitle{
    margin: 20px;
    height: 30px;
}

.memberTitle h2{
    font-size: 28px;
    color: #264A82;
    font-weight: 400;
}

.added-members{
    height: 450px;
}

.added-user{
    padding: 20px;
    height: 70px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #12346F;
    border-radius: 10px;
    margin-bottom: 10px;
}

.added-user h2{
    font-size: 20px;
    margin-top: 7px;
    font-weight: 400;
    align-self: center;
    text-align: center;
    color: white;
}

.removeBtn{
    padding: 5px;
    box-shadow: inset 0px 1px 5px;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.removeBtn img{
    width: 22px;
    height: 20px;
}

.removeBtn:focus{
    outline: none;
    border: 0;
}

.error_message{
    margin-top: 20px;
    display: flex;
    height: 10px;
    align-items: center;
    justify-content: center;
}

.error {
    text-align: center;
    margin-bottom: 0;
    color: red;
}