*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.background{
    margin-left: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.current-friends-container{
    width: 100%;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.current-friends-header{
    width: 100%;
    height: 60px;
    width: 40vw;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px 0;
}
.current-friends-header h1{
    font-size: 24px;
    margin-top: 15px;
    color: #264A82;
}

.current-friends-list{
    margin-top: 20px;
    width: 100%;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    overflow-y: auto; 
    overflow-x: hidden;
}

.current-friend{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    width: 30vw;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    background-color: #E9EEF0;
    border: 1px solid lightgray;
}


.profile-current-friend img{
    width: 40px;
    border-radius: 10px;
    height: 40px;
}

.current-friend h3{
    width: 200px;
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
}

.online-or-not{
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-right: 10px;
}

.search-people-container{
    width: 100%;
    width: 54.8vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9EEF0;
    /* Enable scrolling when content overflows */
    overflow-y: auto; /* Vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.search-container{
    width: 100%;
    width: 54.8vw;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #E9EEF0;
    box-shadow: 1px 1px 5px 0;
}

.search-container input{
    width: 400px;
    font-size: 16px;
    height: 40px;
    padding: 0 40px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #12346F;
    background-image: url("../images/icons/search_icon.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 5px;
}

.profile-container{
    margin-top: 20px;
    width: 25vw;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #12346F;
    padding: 20px;
    border-radius: 10px;
}

.profile-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-img img{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name h2{
    text-align: center;
    align-self: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    color: white;
}

.add-icon{
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
    height: 35px;
    background-color: #E9EEF0;
    box-shadow: 0px 1px 5px;
}

.add-icon img{
    height: 25px;
    width: 25px;
}


.add-icon:focus{
    outline: none;
    border: none;
}
