    *{
    font-family: "Roboto";
    }
    
    html{
        background-image: linear-gradient(to top right, #511983, #3E153E, #410041);
    }
    
    h1{
        text-align: center;
        font-size: 40px;
        font-weight: 500;
    }
    
    .login{
        background-color: #FEFEFE;
        width: 100%;
        width: 1000px;
        margin: 218px auto;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        justify-content: space-evenly;
        border: 2px solid purple;
    }
    
    .createaccount{
        background-color: #FEFEFE;
        width: 100%;
        width: 1000px;
        margin: 183px auto;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        justify-content: space-evenly;
        border: 2px solid purple;
    }
    
    .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .img_bg{
        width: 250px;
        height: 250px;
        background-color: #3E153E;
        border-radius: 20px;
    }

    .logo img{
        width: 250px;
        height: 250px;
    }

    .forms{
        display: flex;
        margin: 75px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .forms h1{
        margin: 10px;
        width: 100%;
        border-bottom: 1px solid black;
        display: block;
        margin-bottom: 10px;
    }
    
    .forms h2{
        display: block;
        text-align: center;
        padding: 10px 10px;
        font-weight: 400;
        font-size: 18px;
        width: 100%;
        margin: 0px;
    }
    .forms h3{
        font-size: 18px;
        margin: 10px;
        margin-top: 20px;
        font-weight: 300;
    }
    
    .forms a{
        text-decoration: underline;
        color: #6834D4;
    }
    
    .formInput{
        display: flex;
        margin: 0;
        flex-direction: column;
    }
    
    .inputs{
        margin: 6px;
        padding: 10px 20px;
        width: 300px;
        height: 35px;
        font-size: 18px;
        border-radius: 20px;
    }
    
    .submitbtn{
        background-color: #AF93D7;
        width: 100px;
        border: 2px solid rebeccapurple;
        border-radius: 20px;
        height: 35px;
        font-size: 18px;
        margin: 15px auto;
    }
    
    .submitbtn:hover{
        cursor: pointer;
        background-color: #6834D4;
        transition: 0.3s;
    }

    .error{
        background-color: #f2dede;
        color: #a94442;
        padding: 10px;
        width: 95%;
        border-radius: 5px;
    }