

body{
    background: #DDC6FF;
    padding: 0;
    margin: 0;
}


.background{
    background:#DDC6FF;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    padding-left: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 1400px;
    height: 650px;
    border-radius: 20px;
    margin-top: 120px;
}


.edit_Profbtn{
    position: absolute;
    margin-bottom: 550px;
    margin-right: 62%;
}

.edit_Profbtn button{
    padding: 8px 20px;
    font-weight: 500;
    background-color: #B380FF;
    border: 0;
    border-radius: 20px;
}

.edit_Profbtn button a{
    text-decoration: none;
    color: black;
}

.edit_Profbtn button:hover{
    border: black;
    margin-bottom: 3px;
}

.profile {
    position: absolute;
    margin-bottom: 620px;
    background-color: #410041;
    padding: 10px;
    border-radius: 50%;
}
.profile img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bio_name{
    text-align: center;
}

.bio_name h1{
    font-weight: 600;
    font-size: 40px;
}

.bio_name h2{
    font-weight: 400;
    font-size: 25px;
}

.current{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.current_group{
    text-align: center;
}

.current_group h2{
    font-size: 30px;
    font-weight: 300;
}

.current_group h1{
    font-size: 40px;
    font-weight: 400;
}

.vl{
    border: 1px solid black;
    height: 150px;
}

.current_friends{
    text-align: center;
}

.current_friends h2{
    font-size: 30px;
    font-weight: 300;
}

.current_friends h1{
    font-size: 40px;
    font-weight: 400;
}